@using LawOfficeManagmentWebApp.Models
@model Client

<html>
<body>

    <h3>Müvekkil ID: @Model.ClientId</h3>
    <h3>Müvekkil TC Kimlik Numarası: @Model.ClientTcNumber</h3>
    <h3>Müvekkil Adı: @Model.ClientName</h3>
    <h3>Müvekkil Soyadı: @Model.ClientSurname</h3>
    <h3>Müvekkil GSM Numarası: @Model.ClientGSM</h3>
</body>
</html>
@{
}
